.topgit .row, .topgit .row .col-md-12 {
    margin: 15px 0 5px;
}
.topgit .row .col-md-12#data {
    border-top: thin solid rgba(32, 32, 32, .1);
}

.topgit #input-form input, #sortByStars { 
    width: 30%;
    padding: 2%;
    margin: 2%;
    border: none;
    border-bottom: thin solid #20DA30;
}

.topgit #input-form input#maximumRepoCountToFetch {
    color: #bbb;
    border-bottom: thin solid #999999;
}

.topgit #totalResults, .topgit #data {
    display: none;
}

.displayB { display: block !important; }
.displayI { display: inline !important; }
.displayIB { display: inline-block !important; }

.topgit #items .repo {
    min-height: 100px;
    margin-bottom: 50px;
}

.topgit nav ul .stats {
    padding: 5px;
    margin: 5px;
}

.topgit nav ul .stats span {
    padding: 5px;
    margin: 5px;
}

.topgit nav ul .stats span:hover {
    border: thin solid #ddd;
}

#items {
    counter-reset: repo;
}

div.col-md-4.repo {
    counter-increment: repo;
    border-left: thin solid #333;
}
div.col-md-4.repo::before {
    content: counter(repo);
    padding: 5px;
    margin: 1px;
    position: relative;
    left: -15px;
    font-size: 10px;
    border-radius: 10%;
    background-color: #333;
    color: #fff;
}

.repo .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repo .detail.stat {
    font-size: 16px;
    padding: 5px;
    display: inline-block;
}

.repo .detail.stat span {
    margin: 3px;
}

#sortByStars {
    font-size: 24px;
}

.ui-menu {
    background-color: rgba(132, 132, 132, .12);
    color: #333;
    font-weight: bold;
}
.ui-menu .ui-menu-item {
    padding: 2px;
    border-bottom: thin solid #999;
}
